body{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    justify-items: center;
    color:#f9faf8;
}

.header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-title{
    margin:20px;
    color:#f9faf8;
    margin:20px;
}

li{
    padding-left: 20px;
    padding-right:20px;
    font-size: 18px;
}

.header-links{
    display: flex;
    align-items: center;
    padding:0;
    justify-content: flex-end;
    margin: 20px;
    
}

.content-1{
    display: flex;
    flex-direction: row;
    flex:1;
    background-color: #1f2937;
}

.dragon-1{
    margin: 48px;
}

.content-1-subheaders{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex:50%;
    background-color: #1f2937;
}

.content-1-subheader{
    font-size: 36px;
    margin:48px;
    text-align: center;
    font-weight: 900;
    background-color: #1f2937;
    color: #e5e7eb;
}

.content-1-subtext{
    font-size: 18px;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 48px;
    margin-right:48px;
    background-color: #1f2937;
    color:#e5e7eb;
}

.adpot-button{
    display: flex;
    justify-content: center;
    margin: 48px;
}

button{
    justify-content: center;
    height: 50px;
    width: 150px;
}
.content-2{
    background-color: white;
}

.content-2 p{
    color: black;
    background-color: white;
}

.content-2-subheader{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-left: 48px;
    margin-right: 48px;
    
}

.content-2-img_disc{
    display: flex;
    justify-content: space-around;
    gap:10px;
    background-color: white;
}

.avalible_dragons{
    margin-left:48px;
    margin-right:48px;
    margin-bottom: 48px;
}

.group-1, .group-2, .group-3, .group-4{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}

.content_2_img_1, .content_2_img_2, .content_2_img_3, .content_2_img_4{
    display: flex;
    align-self: center;
    margin:10px;
    background-color: white;
}

.disc_1_header, .disc_2_header, .disc_3_header, .disc_4_header{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.content_2_disc_1, .content_2_disc_2, .content_2_disc_3, .content_2_disc_4{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
}

.content-3{
    display: flex;
    flex-direction:column;
    flex-basis: content;
    font-size: 30px;
    font-style: italic;
    background-color: #e5e7eb;
}

.customer-quote{
    display: flex;
    flex-direction: column;
    margin: 300px;
    margin-bottom:0px;
    margin-top: 0px;
    color: black;
}

.stars{
    margin-left:250px;
}

.signature{
    display: flex;
    margin-top: 20px;
    margin-right:200px;
    justify-content: flex-end;
}

.content-4{
    display: flex;

    background-color: white;
}

.call_wraper{
    display: flex;
    flex-direction: column;
    background-color:  #3882f6;
    flex:1 50%;
    color:#e5e7eb;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-color:  #3882f6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.call_wraper{
    display: flex;
    margin-left:250px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.call, .call-subtext{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    margin-right:10px;
}

.call{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0px;
}

.button_wraper{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    background-color: #3882f6;
    margin-right:250px;
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-color:  #3882f6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.sign_up{
    margin:10px;
}
