body{
    display: flex;
    flex-direction: column;
    margin-left:48px;
    margin-right:48px;
    background-color: black;
}

p{
    color:#f9faf8;
}

ul{
    list-style: none;
    display: flex;
    justify-items: center;
    color:#f9faf8;
}

.header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-title{
    margin:20px;
    color:#f9faf8;
    margin:20px;
}

li{
    padding-left: 20px;
    padding-right:20px;
    font-size: 18px;
}

.header-links{
    display: flex;
    align-items: center;
    padding:0;
    justify-content: flex-end;
    margin: 20px;
    
}

.content-1{
    display: flex;
    flex-direction: row;
    flex:1;
    background-color: #1f2937;
}

.dragon-1{
    margin: 48px;
}

.content-1-subheaders{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex:50%;
    background-color: #1f2937;
}

.content-1-subheader{
    font-size: 48px;
    margin:48px;
    text-align: center;
    font-weight: 900;
    color:#f9faf8;
    
    
}

.content-1-subtext{
    font-size: 18px;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 48px;
    margin-right:48px;
    color:#f9faf8;
}

.adpot-button{
    display: flex;
    justify-content: center;
    margin: 48px;
}

button{
    justify-content: center;
    height: 50px;
    width: 150px;
}

.content-2-subheader{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    border-style: inset;
    border-radius: 10px;
}

.content-2-img_disc{
    display: flex;
    justify-content: space-around;
    gap:10px;
}

.group-1, .group-2, .group-3, .group-4{
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-radius: 10px;
}

.content_2_img_1, .content_2_img_2, .content_2_img_3, .content_2_img_4{
    display: flex;
    align-self: center;
    margin:10px;
}

.disc_1_header, .disc_2_header, .disc_3_header, .disc_4_header{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.content_2_disc_1, .content_2_disc_2, .content_2_disc_3, .content_2_disc_4{
    display: flex;
    flex-direction: column;
    margin: 10px;

}